<!DOCTYPE html>
<html>
<head>
	<title>Bookmark Manager</title>
</head>
<body>
  <% flash.keys.each do |type| %>
    <div data-alert class="flash <%= type %> alert-box radius">
      <%= flash[type] %>
      <a href="/bookmarks/new" class="close">&times;</a>
    </div>
  <% end %>
	<form action="/bookmark/new" method="post">
		Title:
		<input type="text" name="title" placeholder="Title">
		URL:
		<input type="text" name="url" placeholder="URL">
		<input type="submit" name="submit" value="submit">
	</form>
</body>
</html>
