<!DOCTYPE html>
<html>
<head>
	<title>Bookmark Manager</title>
</head>
<body>
	<form action="/bookmark/new" method="post">
		Title:
		<input type="text" name="title">
		URL:
		<input type="text" name="url">
		<input type="submit" name="submit" value="submit">
	</form>
</body>
</html>